//$inter : 'Inter', sans-serif;

@font-face{
    font-family: 'Inter', sans-serif;
    src: url(../../Assets/Font/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

$fontType : 'Inter', sans-serif;

$Blue1: #12A2CF;
$Black1 : #0000;
$White1 : #ffff;
$Grey1 : #E3E3E3;
$Grey2 : #AAAAAA;
$Grey3 : #8B8888;
$Grey4 : #6D6D6D;
$Grey5 : #4D4A4A;



